main {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    .card-container {
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;

        .comics-container {
            flex-basis: calc(100% / 6);
            padding: 10px;

            img {
                width: 150px;
            }
        }
    }
}